body {
  background-color: #333333;
}
#banner-section {
  white-space: nowrap;
  background-color: black;
}
#homepage-icon {
  margin-left: 4.25%;
  padding: 0.5%;
  background-color: white;
  height: 18%;
  width: 9.5%;
  border-right-color: black;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#banner {
  margin-left: 5%;
  height: 20%;
  width: 75%;
  border-right-color: black;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#navigation-bar {
  white-space: nowrap;
  width: 100%;
  height: 137px;
  overflow-x: hidden;
  background-color: black;
}
#navigation-bar:hover {
  overflow-x: scroll;
}
.icon {
  display: inline;
  border:1px solid;
  margin-top: 5px;
  border-right-color: black;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.icon:hover {
  border:5px solid;
  border-color: #4099FF;
  border-radius: 15px;
}
#mcn-icon {
  margin-left: 5px;
}
#kurt-icon {
  height: 100px;
}
#zisteau-icon {
  margin-right: 5px;
}
#column1 {
  float: left; margin:0; width: 80%;
}
.page {
  display: none;
}
#page-title {
  color: white;
  text-align: center;
}
#links {
  color: white;
  text-align: center;
  list-style-type: none;
}
.text-link {
  color: #4099FF;
}
.video-title {
  color: white;
  text-align: center;
}
#MindcrackNetwork-most-recent-upload {
  text-align: center;
}
#column2 {
  float: left; margin:0; width: 20%;
}
.twitter-timeline {
  height: 100px;
}
.twitter {
  display: none;
}
